<form class="add-form" (ngSubmit)="onSubmit()" >
    <div class="form-control">
        <label for="task">Task</label>
        <input type="text" name="task" [(ngModel)]="task" id="text" placeholder="Add Task" />    
    </div>
    <form class="form-control">
        <label for="day">Day & Time</label>
        <input type="text" name="day" id="day" [(ngModel)]="day" placeholder="Add Day & Time" />
    </form>
    <div class="form-controll form-control-check">
        <label for="reminder"> Set Reminder </label>
        <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder" />
    </div>
    <input type="submit" value="Save Task" class="btn btn-block" />
</form>
